!!!
%html{lang: 'en-us'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= full_title.downcase
    = stylesheet_link_tag '/stylesheets/application'
    = javascript_include_tag '/javascripts/application'
  %body
    .wrapper
      .container
        %header.head
          %h1= link_to data.site.name, data.site.routes[:info]
        %aside.sidenav
          = partial 'partials/sidebar'
        %section.main
          %header.head-main
            %h2= section_title
          %section.content-main
            = yield
    %footer.footer
      = partial 'partials/footer'
