!!!
%html
  %head
    %meta{:charset => 'utf-8'}

    %title= full_title

    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width', :name => 'viewport'}

    = stylesheet_link_tag 'all'
  %body
    .container
      %section.main-content
        .row
          %header.large-12.columns
            %h1.logo= link_to data.site.name, data.site.routes[:info]
        .row
          %aside.sidebar.large-2.columns
            .row
              .sidebar-container.large-offset-3.columns
                %nav.menu
                  %ul.no-bullet.collapse.side-nav
                    - data.site.routes.each do |name, url|
                      %li{:class => ('active' if current_page.url == url)}
                        = link_to name, url
                %section.social
                  %ul.no-bullet.collapse.side-nav
                    - data.site.social_links.each do |social|
                      %li= link_to social.name, social.url
          %section.large-10.columns
            %h2= section_title
            .row
              %section.large-11.large-centered.columns
                = yield
      .footer-container
    .row
      %footer.footer-content.large-6.large-centered.columns
        = partial 'partials/footer'