%p
  %small
    = "© #{Date.today.year} Charles B Johnson. Made with"
    = link_to 'Middleman', data.site.middleman_url
    and
    -# I would normally just put \. after the link_to, but Haml
    -# indents it so it sticks out when it's rendered. Is there a
    -# better way to do this?
    = succeed "." do
      = link_to 'GitHub', data.site.github_repo_url
